{#
    This file is part of the CERN Dashboards for Vidyo
    Copyright (C) 2014 European Organization for Nuclear Research (CERN)

    CERN Dashboards for Vidyo is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    CERN Dashboards for Vidyo is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with the CERN Dashboards for Vidyo software.  If not, see <http://www.gnu.org/licenses/>.
#}

<html>
<head>
    <title>{% block title %}Vidyo Dashboards manager{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/toolbar.css"/>
    <link rel="stylesheet" href="/static/bower_components/Materialize/dist/css/materialize.min.css"
          media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block css %}{% endblock %}

    <!--<script src="/static/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>-->
    <!--<script src="/static/bower_components/Materialize/dist/js/materialize.min.js" type="text/javascript"></script>-->

	  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    {% block script %}{% endblock %}

</head>
<body>
{% set navigation_bar = [
    (url_for('manager.home'), 'home', 'home'),
    (url_for('static', filename="docs/html/index.html"), 'help', 'help')
] -%}
{% set active_page = active_page|default('home') -%}

{% from "cern_toolbar/macros.html" import render_cern_toolbar %}
{{ render_cern_toolbar() }}
<header>
    <nav class="blue">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <a href="#" class="brand-logo">Vidyo Dashboards manager</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% for href, id, caption in navigation_bar %}
                        <li {% if id == main_page %} class="active"{% endif %}><a href="{{ href|e }}"><i
                                class="material-icons">{{ caption|e }}</i></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="{% if active_page != 'network_devices' %}container{% endif %}">
        <div id="header">{% block header %}{% endblock %}</div>
        <div id="messages-wrap">
            <div id="messages">
                {% for category, msg in get_flashed_messages(with_categories=true) %}
                    <div class="chip light-green lighten-1">
                        <span class="message flash-{{ category }}">{{ msg }}</span>
                        <i class="material-icons">close</i>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">{% block footer %}{% endblock %}</div>
    </div>
</main>

<ul id="slide-out" class="side-nav fixed" style="left: 0px;">
    <li class="bold {% if 'home' == active_page %}active{% endif %} side-nav-header"><a
            href="{{ url_for('manager.home') }}"
            class="waves-effect waves-light"><i
            class="material-icons">home</i> Home</a>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a href="{{ url_for('manager.network_devices') }}"
                    class="collapsible-header  waves-effect waves-light
                    {% if 'network_devices' == active_page %}active{% endif %}">
                    <i class="material-icons">router</i>
                    Network Devices
                </a>
            </li>
        </ul>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold"><a
                    class="collapsible-header  waves-effect waves-light
                    {% if 'connections_os' == active_page %}active{% endif %}
                    {% if 'connections_app_versions' == active_page %}active{% endif %}
                    {% if 'connections_endpoint_types' == active_page %}active{% endif %}
                    {% if 'connections_gateway_names' == active_page %}active{% endif %}
                    ">
                <i class="material-icons">device_hub</i>
                Connections
            </a>
                <div class="collapsible-body" style="">
                    <ul>
                        <li class="{% if 'connections_app_versions' == active_page %}active{% endif %}"><a
                                href="{{ url_for('connections_manager.application_versions') }}">Application Version</a></li>
                    </ul>
                    <ul>
                        <li class="{% if 'connections_os' == active_page %}active{% endif %}">
                            <a href="{{ url_for('connections_manager.operating_systems') }}">Operating System</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="{% if 'connections_endpoint_types' == active_page %}active{% endif %}"><a
                                href="{{ url_for('connections_manager.endpoint_types') }}">Endpoint Type</a></li>
                    </ul>
                    <ul>
                        <li class="{% if 'connections_gateway_names' == active_page %}active{% endif %}"><a
                                href="{{ url_for('connections_manager.gateway_names') }}">Gateways</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

</body>
<script type="text/javascript">
    $(".button-collapse").sideNav();
</script>
{% block extra_javascripts %}{% endblock %}
</html>