{#
    This file is part of the CERN Dashboards for Vidyo
    Copyright (C) 2014 European Organization for Nuclear Research (CERN)

    CERN Dashboards for Vidyo is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    CERN Dashboards for Vidyo is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with the CERN Dashboards for Vidyo software.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}
{% set active_page = "network_devices" %}
{% set main_page = "main" %}

{% block css %}
    <link rel="stylesheet" href="static/css/vidyo-dashboard-style.css">
{% endblock %}

{% block script%}
    <script src="static/js/typeahead.jquery.min.js"></script>
    <script src="static/js/typeahead.bundle.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/vidyo-admin-dashboard-bundle.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}
{% block content %}
    <div id="vidyo-admin-dashboard"></div>

    <script>
    'use strict';
    /* global google, VidyoDashboard */
    var vidyoAdminDashboard;


    // Config options are explained in src/js/vidyo-admin-dashboard/vidyo-admin-dashboard.js
    var config = {
        targetId: 'vidyo-admin-dashboard',
        url: 'api/admin/'
    };

    vidyoAdminDashboard = new VidyoAdminDashboard(config);

    // vidyoAdminDashboard.unmount(); <-- can be used to delete dashboard from DOM
    </script>
{% endblock %}