{#
    This file is part of the CERN Dashboards for Vidyo
    Copyright (C) 2014 European Organization for Nuclear Research (CERN)

    CERN Dashboards for Vidyo is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    CERN Dashboards for Vidyo is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with the CERN Dashboards for Vidyo software.  If not, see <http://www.gnu.org/licenses/>.
#}

{% macro render_add_device_family_form(form, device_print_name, prefix='add_device_family_form') %}
    {% set header='Add ' + device_print_name + ' Family' %}
    {% set include_name_field = True %}
    {% set name_field_description= device_print_name + ' Family name' %}

    {{ render_form(form=form,
        prefix=prefix,
        header=header,
        include_name_field=include_name_field,
        name_field_description=name_field_description)
    }}
{% endmacro %}


{% macro render_edit_device_family_form(form, device_family_object, device_print_name, prefix='edit_device_family_form') %}

    {% set header='Edit ' + device_print_name +' Family' %}
    {% set include_name_field = True %}
    {% set include_id_field = True %}
    {% set name_field_description= device_print_name + ' Family name' %}
    {% set use_unique_id = True %}
    {% set submit_button_label = 'Update' %}

    {{ render_form(form=form,
        header=header,
        include_id_field=include_id_field,
        include_name_field=include_name_field,
        name_field_description=name_field_description,
        object=device_family_object,
        prefix=prefix,
        use_unique_id=use_unique_id,
        submit_button_label=submit_button_label)
    }}
{% endmacro %}


{% macro render_delete_device_family_form(form, device_family_object, device_print_name, prefix='delete_device_family_form') %}

    {% set header='Delete ' + device_print_name + ' Family' %}
    {% set include_name_field = False %}
    {% set include_id_field = True %}
    {% set name_field_description= device_print_name + ' Family name' %}
    {% set use_unique_id = True %}
    {% set submit_button_label = 'Delete' %}
    {% set include_delete_statement = True %}
    {% set delete_stament = "<p>Are you sure you want to delete <strong>"+ device_family_object.name +"</strong></p>" %}

    {{ render_form(form=form,
        header=header,
        include_id_field=include_id_field,
        include_name_field=include_name_field,
        name_field_description=name_field_description,
        object=device_family_object,
        prefix=prefix,
        use_unique_id=use_unique_id,
        submit_button_label=submit_button_label,
        include_delete_statement=include_delete_statement,
        delete_stament=delete_stament)
    }}
{% endmacro %}




{% macro render_add_device_form(form, device_families, device_print_name, ungrouped_devices) %}
    {% set prefix='add_device_form' %}
    {% set header='Add ' + device_print_name %}
    {% set include_name_field = True %}
    {% set include_id_field = False %}
    {% set name_field_description= device_print_name + ' name' %}
    {% set use_unique_id = False %}
    {% set submit_button_label = 'Add' %}
    {% set include_delete_statement = False %}
    {% set include_devices_inputs = True %}
    {% set device_families = device_families %}
    {% set device_family_description = device_print_name+ ' Family' %}

    {{ render_form(form=form,
        header=header,
        include_id_field=include_id_field,
        include_name_field=include_name_field,
        name_field_description=name_field_description,
        object=device_family_object,
        prefix=prefix,
        use_unique_id=use_unique_id,
        submit_button_label=submit_button_label,
        include_delete_statement=include_delete_statement,
        delete_stament=delete_stament,
        include_devices_inputs=include_devices_inputs,
        device_families=device_families,
        device_family_description=device_family_description,
        ungrouped_devices=ungrouped_devices)
    }}
{% endmacro %}

{% macro render_edit_device_form(form, device, device_families, device_print_name) %}
    {% set prefix='edit_device_form' %}
    {% set header='Edit ' + device_print_name %}
    {% set include_name_field = True %}
    {% set include_id_field = True %}
    {% set name_field_description= device_print_name + ' name' %}
    {% set use_unique_id = True %}
    {% set submit_button_label = 'Save' %}
    {% set include_delete_statement = False %}
    {% set include_devices_inputs = True %}
    {% set device_families = device_families %}
    {% set device_family_description = device_print_name+ ' Family' %}

    {{ render_form(form=form,
        header=header,
        include_id_field=include_id_field,
        include_name_field=include_name_field,
        name_field_description=name_field_description,
        object=device,
        prefix=prefix,
        use_unique_id=use_unique_id,
        submit_button_label=submit_button_label,
        include_delete_statement=include_delete_statement,
        delete_stament=delete_stament,
        include_devices_inputs=include_devices_inputs,
        device_families=device_families,
        device_family_description=device_family_description)
    }}
{% endmacro %}

{% macro render_delete_device_form(form, device, device_print_name) %}
    {% set prefix='delete_device_form' %}
    {% set header='Delete ' + device_print_name %}
    {% set include_name_field = False %}
    {% set include_id_field = True %}
    {% set name_field_description= device_print_name + ' name' %}
    {% set use_unique_id = True %}
    {% set submit_button_label = 'Delete' %}
    {% set include_delete_statement = True %}
    {% set delete_stament = "<p>Are you sure you want to delete <strong>"+ device.name +"</strong></p>" %}

    {{ render_form(form=form,
        header=header,
        include_id_field=include_id_field,
        include_name_field=include_name_field,
        name_field_description=name_field_description,
        object=device,
        prefix=prefix,
        use_unique_id=use_unique_id,
        submit_button_label=submit_button_label,
        include_delete_statement=include_delete_statement,
        delete_stament=delete_stament)
    }}
{% endmacro %}

{% macro render_form(form,
    prefix,
    header='',
    include_name_field=False,
    name_field_description,
    include_id_field=False,
    use_unique_id=False,
    object=None,
    submit_button_label='Add',
    include_delete_statement=False,
    delete_stament='',
    include_devices_inputs=False,
    device_families=None,
    device_family_description='',
    ungrouped_devices=None) %}

    {% if use_unique_id %}
        {% set main_div_id = 'modal_' + prefix + '_' + object.id %}
        {% set form_id = prefix + '_' + object.id %}
        {% set name_field_id = prefix + '_name_' + object.id %}
        {% set id_field_id = prefix + '_id_' + object.id %}
        {% set name_field_value = object.name %}
    {% else %}
        {% set main_div_id = 'modal_' + prefix %}
        {% set form_id = prefix %}
        {% set name_field_id = prefix + '_name' %}
        {% set id_field_id = prefix + '_id' %}
        {% set name_field_value = '' %}
        {% set name_field_value = '' %}
    {% endif %}

    <div id="{{ main_div_id }}" class="modal">
        <form class="col s12" id="{{ form_id }}" method="post" action="" name="{{ prefix }}">
            <div class="modal-content">
                <h4>{{ header }}</h4>

                <div class="row">
                    {{ form.csrf_token }}
                    {% if include_name_field %}
                        <div class="input-field col s12">
                        {% if ungrouped_devices %}
                             <select id="{{ name_field_id }}" name="{{ prefix }}-name">
                             {% for device in ungrouped_devices %}
                                 <option value="{{device}}">{{device}}</option>
                             {% endfor %}
                             </select>
                        {% else %}
                            <input placeholder="{{ name_field_description }}" id="{{ name_field_id }}" type="text" class="validate" required=""
                                   aria-required="true" name="{{ prefix }}-name" value="{{ name_field_value }}">
                            <label for="{{ prefix }}-name">{{ name_field_description }}</label>
                        {% endif %}
                        </div>
                    {% endif %}
                    {% if include_delete_statement %}
                        {{ delete_stament|safe }}
                    {% endif %}
                    {% if include_id_field %}
                        <input id="{{ id_field_id }}" type="hidden" required="" aria-required="true"
                               name="{{ prefix }}-id" value="{{object.id}}">
                    {% endif %}
                    {% if include_devices_inputs %}
                        <h5>{{ device_family_description }}</h5>
                        <div class="row">
                            {% for device_family in device_families %}
                                <p>
                                    <input name="{{prefix}}-device_family_id"
                                           type="radio" id="{{form_id}}-device_family_id_{{device_family.id}}"
                                           value="{{ device_family.id }}"
                                           {% if object and object.device_family.id == device_family.id %}
                                            checked
                                           {% endif %}/>
                                    <label for="{{form_id}}-device_family_id_{{device_family.id}}">{{device_family.name}}</label>
                                </p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button id="{{ prefix }}_submit" class="btn blue waves-effect waves-light" type="submit">
                    {{ submit_button_label }}
                </button>
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </form>
    </div>

    {% if ungrouped_devices %}
        <script>
          $(document).ready(function() {
            $('#{{ name_field_id }}').material_select();
          });
        </script>
    {% endif %}
{% endmacro %}