{#
    This file is part of the CERN Dashboards for Vidyo
    Copyright (C) 2014 European Organization for Nuclear Research (CERN)

    CERN Dashboards for Vidyo is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    CERN Dashboards for Vidyo is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with the CERN Dashboards for Vidyo software.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% from 'connections_manager/_macros.html' import render_add_device_family_form %}
{% from 'connections_manager/_macros.html' import render_delete_device_family_form %}
{% from 'connections_manager/_macros.html' import render_edit_device_family_form %}
{% from 'connections_manager/_macros.html' import render_add_device_form %}
{% from 'connections_manager/_macros.html' import render_edit_device_form %}
{% from 'connections_manager/_macros.html' import render_delete_device_form %}

{% block content %}
    <h2>{% block devices_header %}{% endblock %}</h2>
    <h3>{{ device_print_name }} Families</h3>
    {% for device_family in device_families %}
        <div class="chip">
            <a href="#" class="edit_device_family_form_{{ device_family.id }}_trigger"> {{ device_family.name }} </a>
            <i class="delete_device_family material-icons delete_device_family_form_{{ device_family.id }}_trigger">delete</i>
        </div>
    {% endfor %}
    <a id="open_add_device_family_modal_button" class="btn-floating waves-effect waves-light blue add-device-family-modal-trigger" href="#modal_add_device_family_form">
        <i class="material-icons">add</i>
    </a>

    {{ render_add_device_family_form(device_families_forms.add, device_print_name) }}

    {% for device_family in device_families %}
        {{ render_delete_device_family_form(device_families_forms.delete, device_family, device_print_name) }}
        {{ render_edit_device_family_form(device_families_forms.edit, device_family, device_print_name) }}
    {% endfor %}
    <h3>{{device_print_name}}</h3>
    <a id="open_add_device_modal_button" class="btn-floating waves-effect waves-light blue add-device-modal-trigger" href="#modal_add_device_form">
        <i class="material-icons">add</i>
    </a>
    {{ render_add_device_form(device_forms.add, device_families, device_print_name, ungrouped_devices) }}

    <table id="device_table" class="highlight">
        <thead>
            <tr>
                <th data-field="device">Name</th>
                <th data-field="device-family">Family</th>
                <th data-field="delete"></th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
                <tr>
                    <td><a href="#!"
                       class="edit_device_form_{{ device.id }}_trigger">{{ device.name }}</a></td>
                    <td>
                        {{ device.device_family.name }}
                    </td>
                    <td>
                    <a class="remove_item  delete_device_form_{{ device.id }}_trigger" href="#!"><i
                            class="material-icons">delete</i>
                    </a>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for device in devices %}
        {{ render_edit_device_form(device_forms.edit, device, device_families, device_print_name) }}
        {{ render_delete_device_form(device_forms.delete, device, device_print_name) }}
    {% endfor %}

{% endblock %}

{% block extra_javascripts %}
    <script type=text/javascript>
        $(function () {
            $('.add-device-family-modal-trigger').leanModal();
            $('.add-device-modal-trigger').leanModal();
            $(document).off('click.chip'); //todo can be removed with new materialize version

            {% for device_family in device_families %}

                $(document).on('click', '.delete_device_family_form_{{ device_family.id }}_trigger', function (e) {
                    $("#modal_delete_device_family_form_{{ device_family.id }}").openModal();
                });

                $(document).on('click', '.edit_device_family_form_{{ device_family.id }}_trigger', function (e) {
                    $("#modal_edit_device_family_form_{{ device_family.id }}").openModal();
                });
            {% endfor %}
            {% for device in devices %}
                $(document).on('click', '.edit_device_form_{{ device.id }}_trigger', function (e) {
                    $("#modal_edit_device_form_{{ device.id }}").openModal();
                });
                $(document).on('click', '.delete_device_form_{{ device.id }}_trigger', function (e) {
                    $("#modal_delete_device_form_{{ device.id }}").openModal();
                });
            {% endfor %}
        });
    </script>
{% endblock %}