{#
    This file is part of the CERN Dashboards for Vidyo
    Copyright (C) 2014 European Organization for Nuclear Research (CERN)

    CERN Dashboards for Vidyo is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    CERN Dashboards for Vidyo is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with the CERN Dashboards for Vidyo software.  If not, see <http://www.gnu.org/licenses/>.
#}

{% set active_page = "connections_gateway_names" %}
{% set main_page = "connections" %}

<!--{% block devices_header %}Gateway Names{% endblock %}-->

{% extends "base.html" %}

{% from 'connections_manager/gateways/_forms.html' import render_add_gateway_form %}
{% from 'connections_manager/gateways/_forms.html' import render_delete_gateway_form %}
{% from 'connections_manager/gateways/_forms.html' import render_edit_gateway_form %}

{% block content %}
    <h2>Gateways</h2>

    <a id="open_add_gateway_modal_button" class="btn-floating waves-effect waves-light blue add-gateway-modal-trigger" href="#modal_add_gateway_form">
        <i class="material-icons">add</i>
    </a>
    {{ render_add_gateway_form(gateway_forms.add, gateway_print_name) }}

    <table id="gateway_table" class="highlight">
        <thead>
            <tr>
                <th data-field="name">Name</th>
                <th data-field="gwid">GWID</th>
                <th data-field="delete"></th>
            </tr>
        </thead>
        <tbody>
            {% for gateway in gateways %}
                <tr>
                    <td><a href="#!"
                       class="edit_gateway_form_{{ gateway.id }}_trigger">{{ gateway.name }}</a></td>
                    <td>
                        {{ gateway.gwid }}
                    </td>
                    <td>
                    <a class="remove_item  delete_gateway_form_{{ gateway.id }}_trigger" href="#!"><i
                            class="material-icons">delete</i>
                    </a>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for gateway in gateways %}
        {{ render_edit_gateway_form(gateway_forms.edit, gateway, gateway_print_name) }}
        {{ render_delete_gateway_form(gateway_forms.delete, gateway, gateway_print_name) }}
    {% endfor %}


{% endblock %}

{% block extra_javascripts %}
    <script type=text/javascript>
        $(function () {
            $('.add-gateway-modal-trigger').leanModal();

            {% for gateway in gateways %}
                $(document).on('click', '.edit_gateway_form_{{ gateway.id }}_trigger', function (e) {
                    $("#modal_edit_gateway_form_{{ gateway.id }}").openModal();
                });
                $(document).on('click', '.delete_gateway_form_{{ gateway.id }}_trigger', function (e) {
                    $("#modal_delete_gateway_form_{{ gateway.id }}").openModal();
                });
            {% endfor %}
        });
    </script>
{% endblock %}