{#
    This file is part of the CERN Dashboards for Vidyo
    Copyright (C) 2014 European Organization for Nuclear Research (CERN)

    CERN Dashboards for Vidyo is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    CERN Dashboards for Vidyo is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with the CERN Dashboards for Vidyo software.  If not, see <http://www.gnu.org/licenses/>.
#}

{% macro render_cern_toolbar() %}
    <div id="cern-toolbar">
        <h1><a href="http://cern.ch" title="CERN">CERN <span>Accelerating science</span></a></h1>

        <ul class="cern-signedin">
            {% if session and session.user %}
                <li class="cern-accountlinks"><span>Signed in as: <a class="account" href="http://cern.ch/account"
                                                                     title="Signed in as {{ session.user }} ({{ session.nickname }})">{{ session.user }}
                    ({{ session.nickname }})</a> </span>
                    <a class="cern-signout" href="{{ url_for('logout') }}" title="Sign out of your account">Sign out</a>
                </li>
            {% else %}
                <li class="cern-accountlinks"><a class="cern-account" href="/login"
                                                 title="Sign in to your CERN account">Sign in</a></li>
            {% endif %}
            <li><a class="cern-directory" href="http://cern.ch/directory"
                   title="Search CERN resources and browse the directory">Directory</a></li>
        </ul>

    </div><!-- /#cern-toolbar -->
{% endmacro %}