{% macro render_add_gateway_form(form, gateway_print_name, use_unique_id, prefix='add_gateway_form') %}
    {% set header='Add ' + gateway_print_name %}
    {% set use_unique_id = False %}
    {% set submit_button_label = 'Add' %}

    {{ render_gateway_form(form, prefix, header, submit_button_label) }}

{% endmacro %}

{% macro render_delete_gateway_form(form, gateway, gateway_print_name, prefix='delete_gateway_form') %}
    {% set header='Delete ' + gateway_print_name %}
    {% set use_unique_id = True %}
    {% set submit_button_label = 'Delete' %}
    {% set delete_stament = "<p>Are you sure you want to delete <strong>"+ gateway.name +"</strong></p>" %}

    {{ render_gateway_form(form, prefix, header, submit_button_label, gateway,
        use_unique_id=use_unique_id,
        include_id_field=True,
        include_delete_statement=True,
        delete_stament=delete_stament)
    }}

{% endmacro %}

{% macro render_edit_gateway_form(form, gateway, gateway_print_name, prefix='edit_gateway_form') %}
    {% set header='Edit ' + gateway_print_name %}
    {% set use_unique_id = True %}
    {% set submit_button_label = 'Edit' %}

    {{ render_gateway_form(form, prefix, header, submit_button_label, gateway,
        use_unique_id=use_unique_id,
        include_id_field=True,
        include_delete_statement=False
        )
    }}

{% endmacro %}

{% macro render_gateway_form(form,
prefix,
header,
submit_button_label,
object,
use_unique_id=False,
include_id_field=False,
include_delete_statement=False,
delete_stament='') %}

{% set name_field_description = 'Gateway name' %}
    {% set gwid_field_description = 'Gateway ID' %}

    {% if use_unique_id %}
        {% set main_div_id = 'modal_' + prefix + '_' + object.id %}
        {% set form_id = prefix + '_' + object.id %}
        {% set name_field_id = prefix + '_name_' + object.id %}
        {% set gwid_field_id = prefix + '_gwid_' + object.id %}
        {% set id_field_id = prefix + '_id_' + object.id %}
        {% set name_field_value = object.name %}
        {% set gwid_field_value = object.gwid %}
    {% else %}
        {% set main_div_id = 'modal_' + prefix %}
        {% set form_id = prefix %}
        {% set name_field_id = prefix + '_name' %}
        {% set gwid_field_id = prefix + '_gwid' %}
        {% set id_field_id = prefix + '_id' %}
        {% set name_field_value = '' %}
        {% set name_field_value = '' %}
        {% set gwid_field_value = '' %}
    {% endif %}

    <div id="{{ main_div_id }}" class="modal">
        <form class="col s12" id="{{ form_id }}" method="post" action="" name="{{ prefix }}">
            <div class="modal-content">
                <h4>{{ header }}</h4>

                <div class="row">
                    {{ form.csrf_token }}
                    <div class="input-field col s12">
                        <input placeholder="{{ name_field_description }}" id="{{ name_field_id }}" type="text" class="validate" required=""
                                   aria-required="true" name="{{ prefix }}-name" value="{{ name_field_value }}">
                        <label for="{{ prefix }}-name">{{ name_field_description }}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="{{ gwid_field_description }}" id="{{ gwid_field_id }}" type="text" class="validate" required=""
                                   aria-required="true" name="{{ prefix }}-gwid" value="{{ gwid_field_value }}">
                        <label for="{{ prefix }}-gwid">{{ gwid_field_description }}</label>
                    </div>
                </div>

                {% if include_delete_statement %}
                    {{ delete_stament|safe }}
                {% endif %}

                {% if include_id_field %}
                    <input id="{{ id_field_id }}" type="hidden" required="" aria-required="true"
                               name="{{ prefix }}-id" value="{{object.id}}">
                {% endif %}

            </div>

            <div class="modal-footer">
                <button id="{{ prefix }}_submit" class="btn blue waves-effect waves-light" type="submit">
                    {{ submit_button_label }}
                </button>
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </form>
    </div>

{% endmacro %}